
:root {
  --background: #242424;
  --midnight_green: #1A1D1E;
  --slate_green: #85a998;
  --antares_emerald: #3dd771;
  --slate_grey: #43504F;
  --dark_slate_grey: #232D2B;
  --light_slate_green: #6D977E;
  /*change red if its too harsh on the eyes*/

  --mint_green: #9dc9b9;
  --really_light_grey: #e4e3df;
  --olive_but_not_gross: #8fa091;
  --mint_green_2:	#8dc1aa;
  --desaturated_blue: #cce4e4;
}

.background {
  background-color: var(--antares_emerald) !important;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--mint_green);
}

.landing_page_header {
  color: var(--43504F);
}

.landing_buttons {
  background-color: var(--desaturated_blue);
  border: 2px solid var(--midnight_green);
  color: var(--anta);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.landing_buttons:hover {
  border-color: lightblue;
}

.login_form{
  border: 2px solid var(--midnight_green);
  background-color: var(--mint_green_2);
  justify-content: start!important;
}

.login_form_desktop_wrapper{
  border: 2px solid var(--midnight_green);
  background-color: var(--mint_green_2)
}

.form_group {
  /* width: 200px; */
  height: fit-content;
}

.form_group_password {
  height: 55px;
}

.form_input {
  border:2px solid var(--midnight_green);
  background: var(--desaturated_blue);
  height: 100%;
}

.form_input_modified{
  border:2px solid var(--midnight_green);
  background: var(--desaturated_blue);
  width: 200px;
}

.login_submit_button {
  border: 2px solid var(--midnight_green);
  background-color: var(--desaturated_blue);
  height: 50px;
  width: 120px;
}

.login_submit_disabled {
  border: 2px solid var(--midnight_green);
  background: var(--slate_grey);
  height: 50px;
  width: 120px;
}

.confirm_user_changes_button {
  border: 2px solid var(--midnight_green);
  background-color: var(--desaturated_blue);
  height: 50px;
  width: fit-content;
}

.confirm_user_changes_button_disabled {
  border: 2px solid var(--midnight_green);
  background: var(--slate_grey);
  height: 50px;
  width: fit-content;
}

.org_landing_page_wrapper{
  border: 2px solid var(--midnight_green);
  background-color: var(--mint_green_2)
}

.org_landing_buttons {
  border: 2px solid var(--midnight_green);
  background-color: var(--desaturated_blue);
  width: 200px;
  height: 25px;
}

.description {
  border: 2px solid var(--midnight_green);
  background-color: var(--desaturated_blue);
  width: full;
  height: 100px;
}

.org_join_page_wrapper {
  border: 2px solid var(--midnight_green);
  background-color: var(--mint_green_2)
}

.form_submit_button{
  border: 2px solid var(--midnight_green);
  background: var(--desaturated_blue);
  height: 50px;
  width: 150px;
}


.form_submit_normal {
  border: 2px solid var(--midnight_green);
  height: 50px;
  width: 150px;
}

.file_input {
  border:2px solid var(--midnight_green);
  background: var(--desaturated_blue);
  height: 50px;
  width: fit-content;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

.dashboard_wrapper {
  border: 2px solid var(--midnight_green);
  background-color: var(--mint_green_2)
} 

.accept_container {
  border-top: 2px solid var(--midnight_green);
  border-bottom: 2px solid var(--midnight_green);

}

.unaccepted_task_item {
  border: 2px solid var(--midnight_green);
  background-color: var(--desaturated_blue);
  margin: 5px;
  padding: 5px;
}

.task_accept_button {
  background: var(--mint_green_2);
  border: 2px solid var(--midnight_green);
}

.task_accept_small {
  background: var(--mint_green_2);
  border: 2px solid var(--midnight_green);
  height: 25px;
  width: fit-content;
}

.task_accept_select {
  background: var(--mint_green_2);
  border: 2px solid var(--midnight_green);
}

.task_create_button {
  background: var(--desaturated_blue);
  border: 2px solid var(--midnight_green);
  height: 25px;;
  min-width: 25px;
  max-width: 25px!important;
 
}

.task_creation_form_wrapper {
  border: 2px solid var(--midnight_green);
  background-color: var(--mint_green_2)
}

.attachments_wrapper {
  width: 250px;
}

.delete_button{
  border: 2px solid var(--midnight_green);
  height: 20px!important;
  width: 20px!important;
  padding: 0;
}
/* .grid_layout_custom{
  grid-template-rows: auto auto auto auto auto!important;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
